footer{
    padding: 7% 15%;
    text-align: center;
    font-family: 'Arvo', serif;
}

.card{
    margin: 15px;
    text-align: left;
}

.cards{
    display: flex;
}

h1{
    padding: 20px;
}

.cbtn{
    border-color: grey;
    color: grey;
    background-color: transparent;
}

.cbtn:hover{
    color: white;
    background-color: black;
    border-color: black;

}